extends includes/base
block globals
    - var title= 'CDN'
    - var body_id= 'page'

block styles
        link(rel="stylesheet" type="text/css" media="screen" href="http://cdn.agrorural.gob.pe/?u=http://cdn.agrorural.gob.pe/apps/dist/styles/app.min.css")

block mainmenu
    +mainmenu('Contenido','Content Delivery Network')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Content Delivery Network", href : ''}]
    +breadcrumb(items)


block scripts
            script(src='http://cdn.agrorural.gob.pe/?u=http://cdn.agrorural.gob.pe/apps/dist/scripts/vendor.min.js')