extends includes/base
block globals
    - var title= 'Bienvenido de nuevo a la Intranet'
    - var body_id= 'index'
    - var body_class= 'theme-purple'
block append styles
    style.
      .swiper-container {
        width: 100%;
        height: 150px;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #f1f1f1;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

block mainmenu
    +mainmenu('Inicio','')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}]
    +breadcrumb(items)

block content
    .col-md-12.col-lg-8
        +card('Typeahead', 'de Twitter', '')
            input.typeahead(type="text", placeholder="States of USA")
            btn(class="btn btn-primary") Boton primario
            btn(class="btn btn-secondary") Boton secundario
    .col-md-12.col-lg-8
        +card('flatpickr', 'JS plugin for datepicker. Ejemplos: https://flatpickr.js.org/examples/', '')
            input.flatpickr.form-control(type="text",  placeholder="Seleccionar una fecha") 
    .col-md-12.col-lg-8
        +card('Swiper', 'Carrusel y slider', 'Info en: http://idangero.us/swiper/demos/')
            .swiper-container
                .swiper-wrapper
                    .swiper-slide Slide 1
                    .swiper-slide Slide 2
                    .swiper-slide Slide 3
                    .swiper-slide Slide 4
                    .swiper-slide Slide 5
                    .swiper-slide Slide 6
                    .swiper-slide Slide 7
                    .swiper-slide Slide 8
                    .swiper-slide Slide 9
                    .swiper-slide Slide 10
                .swiper-pagination
                .swiper-button-next
                .swiper-button-prev 
        +card('Asistencia', 'Último reporte de asistencia', '#')
            .canvas-wrapper
                #multiple-line.chart
        +card('Directorio', 'Del personal', '#')
            .table-responsive
                table.datagrid
                    thead
                        tr
                            th Order #
                            th Product
                            th Customer
                            th Status
                    tbody
                        tr
                            td 0001
                            td Product Name 1
                            td Customer 1
                            td Complete
                        tr
                            td 0002
                            td Product Name 2
                            td Customer 2
                            td Complete
                        tr
                            td 0003
                            td Product Name 3
                            td Customer 3
                            td Processing
                        tr
                            td 0004
                            td Product Name 4
                            td Customer 4
                            td Pending
    .col-md-12.col-lg-4
        +card('Cumpleaños', 'Próximos', '#')
            ul.list-group.list-group-flush
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Juan Perez
                            small OA-UTI
                    span.badge.badge-primary.badge-pill 15/02
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Luisa Sánchez
                            small DIAR
                    span.badge.badge-primary.badge-pill 22/02
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Raquel Suárez
                            small DAB-SDE
                    span.badge.badge-primary.badge-pill 25/02
        +card('Normas', 'Del día', '#')
            ul.list-group.list-group-flush
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 019-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 020-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 021-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 023-2018-MINAGRI-DVDIAR-AGRO RURAL-DE

block append scripts
    script.
      let $ = require('jquery');
      let Chartkick = require('chartkick');
      let Cookie = require('js-cookie');
      let Swiper = require('swiper');

      var typeahead = require("typeahead.js-browserify");
      typeahead.loadjQueryPlugin();

      var Bloodhound = require("typeahead.js-browserify").Bloodhound
      var engine = new Bloodhound({
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: 'https://twitter.github.io/typeahead.js/data/films/post_1960.json',
        remote: {
            url: 'https://twitter.github.io/typeahead.js/data/films/queries/%QUERY.json',
            wildcard: '%QUERY'
        }
      });

      $('.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
        },
        {
        name: 'states',
        display: 'value',
        source: engine
      });
      
      $(document).ready(function() {
        
      });

      new Chartkick.LineChart("multiple-line", [{
        "name": "Sobretiempo",
        "data": {
            "2013-02-10": 3,
            "2013-02-17": 3,
            "2013-02-24": 3,
            "2013-03-03": 1,
            "2013-03-10": 4,
            "2013-03-17": 3,
            "2013-03-24": 2,
            "2013-03-31": 3
        }
        }, {
        "name": "Tardanzas",
        "data": {
            "2013-02-10": 0,
            "2013-02-17": 0,
            "2013-02-24": 0,
            "2013-03-03": 0,
            "2013-03-10": 2,
            "2013-03-17": 1,
            "2013-03-24": 0,
            "2013-03-31": 0
        }
        }]
      );

      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
      });