extends includes/base
block globals
    - var title= 'Bienvenido de nuevo a la Intranet'
    - var body_id= 'index'

block mainmenu
    +mainmenu('Inicio','')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}]
    +breadcrumb(items)

block content
    .col-md-12.col-lg-8
        +card('Typeahead', 'de Twitter', '')
            input.typeahead(type="text" placeholder="States of USA")
    .col-md-12.col-lg-8
        +card('', '', '')
            .owl-carousel.owl-theme
                div  Your Content 
                div  Your Content 
                div  Your Content 
                div  Your Content 
                div  Your Content 
                div  Your Content 
                div  Your Content 
        +card('Asistencia', 'Último reporte de asistencia', '#')
            .canvas-wrapper
                #multiple-line.chart
        +card('Directorio', 'Del personal', '#')
            .table-responsive
                table.datagrid
                    thead
                        tr
                            th Order #
                            th Product
                            th Customer
                            th Status
                    tbody
                        tr
                            td 0001
                            td Product Name 1
                            td Customer 1
                            td Complete
                        tr
                            td 0002
                            td Product Name 2
                            td Customer 2
                            td Complete
                        tr
                            td 0003
                            td Product Name 3
                            td Customer 3
                            td Processing
                        tr
                            td 0004
                            td Product Name 4
                            td Customer 4
                            td Pending
    .col-md-12.col-lg-4
        +card('Cumpleaños', 'Próximos', '#')
            ul.list-group.list-group-flush
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Juan Perez
                            small OA-UTI
                    span.badge.badge-primary.badge-pill 15/02
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Luisa Sánchez
                            small DIAR
                    span.badge.badge-primary.badge-pill 22/02
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    .media
                        img.mr-3.rounded-circle(src="http://via.placeholder.com/48x48" alt="Generic placeholder image")
                        .media-body
                            h6.mt-0 Raquel Suárez
                            small DAB-SDE
                    span.badge.badge-primary.badge-pill 25/02
        +card('Normas', 'Del día', '#')
            ul.list-group.list-group-flush
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 019-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 020-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 021-2018-MINAGRI-DVDIAR-AGRO RURAL-DE
                li.list-group-item
                    a(href="#") RESOLUCION DIRECTORAL N° 023-2018-MINAGRI-DVDIAR-AGRO RURAL-DE

block append scripts
    script.
      let $ = require('jquery');
      let Chartkick = require('chartkick');
      let owlCarousel = require('owl.carousel');
      let Cookie = require('js-cookie');
      let typeahead = require('typeahead.js');
      
      $(document).ready(function() {
        $('.owl-carousel').owlCarousel();
      });

      new Chartkick.LineChart("multiple-line", [{
        "name": "Sobretiempo",
        "data": {
            "2013-02-10": 3,
            "2013-02-17": 3,
            "2013-02-24": 3,
            "2013-03-03": 1,
            "2013-03-10": 4,
            "2013-03-17": 3,
            "2013-03-24": 2,
            "2013-03-31": 3
        }
        }, {
        "name": "Tardanzas",
        "data": {
            "2013-02-10": 0,
            "2013-02-17": 0,
            "2013-02-24": 0,
            "2013-03-03": 0,
            "2013-03-10": 2,
            "2013-03-17": 1,
            "2013-03-24": 0,
            "2013-03-31": 0
        }
        }]
      );

      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
            matches = [];
            substrRegex = new RegExp(q, 'i');
            $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
                matches.push(str);
            }
            });
            cb(matches);
        };
      };

      var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
        'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
        'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
        'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
        'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
      ];

      $('.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
        },
        {
        name: 'states',
        source: substringMatcher(states)
      });

      console.log(states);