extends includes/base
block globals
    - var title= 'Íconos'
    - var body_id= 'page'

block mainmenu
    +mainmenu('Contenido','Íconos')

block breadcrumb
    -var items = [{name : "Inicio", href : './dashboard.html'}, {name : "Íconos", href : ''}]
    +breadcrumb(items)

block content
    .col-sm-12
        +card('FontAwesome', 'Versión 5', 'https://fontawesome.com/icons')
            p
                | Se utiliza la quinta versión de FontAwesome. Para ver los íconos posibles a utilizar, 
                a(href='https://fontawesome.com/icons') clic aquí 
                |.
    .col-sm-12
        +card('FontAwesome', 'Usando Ajax', 'https://fontawesome.com/icons')
            p Puede ver un ejemplo de uso de ícono a través de Ajax aquí.
            .chart__table

block append scripts

  script.
    let $ = require('jquery');
    let DataTable = require("datatables.net-responsive-bs4");
    //let tableData = [];
    
    $(".chart__table").html(`
      <table id="starwars" class="dt-responsive" cellspacing="0" width="100%">
        <thead class="thead-dark">
          <tr>
            <th>Planeta</th>
            <th>Diametro</th>
            <th>Población</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    `);

    var t = $('#starwars').DataTable();
    
    $.ajax({
      url: "https://swapi.co/api/planets/",
      dataType: "json",
      success: function( data ) {
        let arr = data.results;

        for(var i = 0; i < arr.length; i++ ){
          t.row.add( [
            arr[i].name,
            arr[i].diameter,
            arr[i].population,
            '<nav class="nav-actions"><a href="#"><i class="fas fa-user-check"></i></a></nav>'
          ] ).draw( false );
        }
      }
    });

    //- $(function(){
      

    //-   //- $('#starwars').DataTable( {
    //-   //-     data: tableData,
    //-   //- } );
    //- });