extends includes/login
block variables
    - var title= 'Segundo login'
    - var body_class= 'theme-purple'
    
block content
    .container
        .row
            .col-sm-12.form-signin
                form
                    fieldset
                        .row
                            .col-sm-12.brand
                                img(src="http://www.agrorural.gob.pe/cdn/dist/images/papa__logo.gif", alt="Mi para peruana", width="185")
                            .form-group.input-field.col-sm-12
                                input(type="text", class="form-control", id="txtUser")
                                label(for="txtUser") Usuario
                            .form-group.input-field.col-sm-12
                                input(type="password", class="form-control", id="txtPassword")
                                label(for="txtPassword") Clave
                            .col-sm-12
                                button(type="submit", class="btn btn-secondary btn-block") Ingresar
                            .col-sm-12.recover 
                                a(href="#" data-toggle="popover" title="" data-placement="top" data-content="Puede comunicarse al anexo 4198 y solicitar una nueva." data-original-title="Ha perdido su contraseña") Olvide mi contraseña
            .col-sm-12.more-links
                .d-flex.justify-content-between
                    a(href="#", class="btn btn-link") Documentacion
                    a(href="#", class="btn btn-link") Mas informacion