body#login {
    @extend .d-flex;
    background-color: $gray-100;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
    @extend .align-items-center;
    @extend .justify-content-center;
    min-height: 100vh;
    .container {
        width: 90%;
        @include media-breakpoint-up(sm) {
            width: 70%;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        .row {
            .preview-signin {
                @extend .col;
                text-align: center;
                flex: 1 1 auto;
                @include media-breakpoint-up(sm) {
                    flex: 1;
                }
                background-color: $white;
                padding: 2.25rem;
                nav {
                    @extend .d-flex;
                    @extend .flex-wrap;
                    flex-direction: row;
                    @extend .justify-content-center;
                    //@extend .justify-content-between;
                    margin-top: 3rem;
                    a {
                        line-height: 3rem;
                        width: 3rem;
                        height: 3rem;
                        margin: 1rem;
                        border: 1px solid $primary;
                        border-radius: 3rem;
                        &:hover {
                            color: $secondary;
                            border: 1px solid $secondary;
                        }
                    }
                }
            }
            .form-signin {
                @extend .col;
                flex: 1 1 auto;
                @include media-breakpoint-up(sm) {
                    flex: 1;
                }
                a {
                    text-align: center;
                }
                background-color: $primary;
                form {
                    padding: 2.25rem;
                    h2 {
                        @include font-size(30);
                        color: $secondary;
                        margin-top: 3rem;
                        text-align: center;
                    }
                    fieldset {
                        padding: 6rem 0 2rem;
                        background-color: transparent;
                        border: 0 none;
                        .form-group {
                            position: relative;
                            height: 60px;
                            margin-bottom: 2rem;
                            label {
                                color: $gray-100;
                            }
                            .form-control {
                                color: $white;
                                &:focus {
                                    border-bottom: 1px solid $secondary;
                                }
                            }
                            &.not-empty {
                                input {
                                    // color: $lime;
                                    border-bottom: 1px solid $lime;
                                }
                                label {
                                    color: $lime;
                                }
                            }
                        }
                        .btn {
                            margin-top: 4rem;
                        }
                    }
                    a {
                        @include font-size(13);
                        color: $secondary;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#brand {
    margin: 6rem auto;
    a {
        width: 185px;
        height: 125px;
    }
}