body#login {
    @extend .d-flex;
    background-color: $gray-100;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
    @extend .align-items-center;
    @extend .justify-content-center;
    min-height: 100vh;
    >.container {
        width: 90%;
        @include media-breakpoint-up(sm) {
            width: 70%;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        .row {
            .preview-signin {
                @extend .col;
                text-align: center;
                flex: 1 1 auto;
                @include media-breakpoint-up(sm) {
                    flex: 1;
                }
                background-color: $white;
                padding: 2.25rem;
                nav {
                    @extend .d-flex;
                    @extend .flex-wrap;
                    flex-direction: row;
                    @extend .justify-content-center;
                    //@extend .justify-content-between;
                    margin-top: 3rem;
                    a {
                        line-height: 3rem;
                        width: 3rem;
                        height: 3rem;
                        margin: 1rem;
                        border: 1px solid $primary;
                        border-radius: 3rem;
                        &:hover {
                            color: $secondary;
                            border: 1px solid $secondary;
                        }
                    }
                }
            }
            .form-signin {
                @extend .col;
                flex: 1 1 auto;
                @include media-breakpoint-up(sm) {
                    flex: 1;
                }
                a {
                    text-align: center;
                }
                background-color: $primary;
                form {
                    padding: 2.25rem;
                    h2 {
                        @include font-size(30);
                        color: $secondary;
                        margin-top: 3rem;
                        text-align: center;
                    }
                    fieldset {
                        padding: 6rem 0 2rem;
                        background-color: transparent;
                        border: 0 none;
                        .form-group {
                            position: relative;
                            height: 60px;
                            margin-bottom: 2rem;
                            label {
                                transition: all 0.3s;
                                color: $gray-100;
                            }
                            .form-control {
                                color: $white;
                                &:focus {
                                    transition: all 0.3s;
                                    border-bottom: 1px solid $secondary;
                                }
                            }
                            &.not-empty {
                                input {
                                    // color: $lime;
                                    border-bottom: 1px solid $lime;
                                }
                                label {
                                    color: $lime;
                                }
                            }
                        }
                        .btn {
                            margin-top: 4rem;
                        }
                    }
                    a {
                        @include font-size(13);
                        color: $secondary;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
    #brand {
        margin: 4rem auto;
        width: 185px;
        height: 125px;
    }

    .recover{
        margin-top: 1rem;
    }

    &.theme-default{

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            border-color: $lime !important;
            ~label {
                color: $white;
                font-size: 11px !important;
                line-height: 11px !important;
                top: 0 !important;
            } 
        }

        @keyframes autofill-theme-default {
            100% {
                background: transparent;
                color: $white;
            }
        }
        
        @-webkit-keyframes autofill-theme-default {
            100% {
                background: transparent;
                color: $white;
            }
        }
    }
    &.theme-purple{
        background-color: $purple-200;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            ~label {
                color: $purple-200 !important;
                font-size: 11px !important;
                line-height: 11px !important;
                top: 0 !important;
            } 
        }

        @keyframes autofill-theme-purple {
            100% {
                background: transparent;
                color: $black-200;
            }
        }
        
        @-webkit-keyframes autofill-theme-purple {
            100% {
                background: transparent;
                color: $black-200;
            }
        }
        >.container{
            width: 36rem;
            .form-signin{
                background-color: $white;
                border-radius: 1.5rem;
                #brand{
                    margin: 1.5rem auto;
                    width: 185px;
                    height: 185px;
                    background-image: url('#{$cdn-dist-path}/images/papa__logo.png');
                }
                form{
                    fieldset{
                        padding: 0;
                        .brand{
                            margin: 0 auto 2rem;
                            text-align: center;
                            
                        }
                        .form-group{
                            .form-control{
                                color: black;
                                &:focus{
                                    border-bottom: 1px solid $purple-200;
                                }
                            }
                            &.not-empty {
                                input {
                                    // color: $lime;
                                    border-bottom: 1px solid $purple-200;
                                    color: black;
                                }
                                label {
                                    color: $purple-200;
                                }
                            }
                            label{
                                color: black;
                            }
                        }
                        .btn{
                            margin-top: 2rem;
                        }
                        .recover{
                            margin-top: 1rem;
                            a{
                                color: $purple-200;
                                &:hover{
                                    color: lighten($purple-200, 15%);
                                }
                            }
                        }
                    }
                }        
            }
            .more-links{
                margin-top: 1rem;
                a{
                    color: $secondary;
                    &:href{
                        color: lighten($secondary,15%);
                    }
                }
            }
        }
    }
}