[class^="ar-"],
[class*=" ar-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'agroruralicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ar-address-card:before {
    content: "\e900";
}

.ar-address-card-solid:before {
    content: "\e901";
}

.ar-angle-double-down-solid:before {
    content: "\e902";
}

.ar-angle-double-left-solid:before {
    content: "\e903";
}

.ar-angle-double-right-solid:before {
    content: "\e904";
}

.ar-angle-double-up-solid:before {
    content: "\e905";
}

.ar-angle-down-solid:before {
    content: "\e906";
}

.ar-angle-left-solid:before {
    content: "\e907";
}

.ar-angle-right-solid:before {
    content: "\e908";
}

.ar-angle-up-solid:before {
    content: "\e909";
}

.ar-apple:before {
    content: "\e90a";
}

.ar-app-store-ios:before {
    content: "\e90b";
}

.ar-archive-solid:before {
    content: "\e90c";
}

.ar-arrow-alt-circle-down_solid:before {
    content: "\e90d";
}

.ar-arrow-alt-circle-left_solid:before {
    content: "\e90e";
}

.ar-arrow-alt-circle-right_solid:before {
    content: "\e90f";
}

.ar-arrow-alt-circle-up_solid:before {
    content: "\e910";
}

.ar-arrow-circle-down_solid:before {
    content: "\e911";
}

.ar-arrow-circle-left_solid:before {
    content: "\e912";
}

.ar-arrow-circle-right_solid:before {
    content: "\e913";
}

.ar-arrow-circle-up_solid:before {
    content: "\e914";
}

.ar-arrow-down_solid:before {
    content: "\e915";
}

.ar-arrow-down-top_solid:before {
    content: "\e916";
}

.ar-arrow-left_solid:before {
    content: "\e917";
}

.ar-arrow-left-top_solid:before {
    content: "\e918";
}

.ar-arrow-right_solid:before {
    content: "\e919";
}

.ar-arrow-right-top_solid:before {
    content: "\e91a";
}

.ar-arrows-alt_solid:before {
    content: "\e91b";
}

.ar-arrows-alt-h_solid:before {
    content: "\e91c";
}

.ar-arrows-alt-v-solid:before {
    content: "\e91d";
}

.ar-arrow-up-solid:before {
    content: "\e91e";
}

.ar-arrow-up-top_solid:before {
    content: "\e91f";
}

.ar-asterisk_solid:before {
    content: "\e920";
}

.ar-at_solid:before {
    content: "\e921";
}

.ar-balance-scale_solid:before {
    content: "\e922";
}

.ar-ban_solid:before {
    content: "\e923";
}

.ar-barcode_solid:before {
    content: "\e924";
}

.ar-bars_solid:before {
    content: "\e925";
}

.ar-battery-empty_solid:before {
    content: "\e926";
}

.ar-battery-full_solid:before {
    content: "\e927";
}

.ar-battery-half_solid:before {
    content: "\e928";
}

.ar-battery-quarter_solid:before {
    content: "\e929";
}

.ar-battery-three-quarters_solid:before {
    content: "\e92a";
}

.ar-bell:before {
    content: "\e92b";
}

.ar-bell_solid:before {
    content: "\e92c";
}

.ar-bell-slash:before {
    content: "\e92d";
}

.ar-bell-slash_solid:before {
    content: "\e92e";
}

.ar-birthday-cake_solid:before {
    content: "\e92f";
}

.ar-bluetooth:before {
    content: "\e930";
}

.ar-bluetooth-b:before {
    content: "\e931";
}

.ar-book_solid:before {
    content: "\e932";
}

.ar-bookmark:before {
    content: "\e933";
}

.ar-bookmark_solid:before {
    content: "\e934";
}

.ar-briefcase_solid:before {
    content: "\e935";
}

.ar-building:before {
    content: "\e936";
}

.ar-building_solid:before {
    content: "\e937";
}

.ar-bullhorn_solid:before {
    content: "\e938";
}

.ar-bullseye_solid:before {
    content: "\e939";
}

.ar-bus_solid:before {
    content: "\e93a";
}

.ar-calculator_solid:before {
    content: "\e93b";
}

.ar-calendar_solid:before {
    content: "\e93c";
}

.ar-calendar-alt_solid:before {
    content: "\e93d";
}

.ar-calendar-check_solid:before {
    content: "\e93e";
}

.ar-calendar-minus_solid:before {
    content: "\e93f";
}

.ar-calendar-plus_solid:before {
    content: "\e940";
}

.ar-calendar-times_solid:before {
    content: "\e941";
}

.ar-camera_solid:before {
    content: "\e942";
}

.ar-caret-down_solid:before {
    content: "\e943";
}

.ar-caret-left_solid:before {
    content: "\e944";
}

.ar-caret-right_solid:before {
    content: "\e945";
}

.ar-caret-square-down:before {
    content: "\e946";
}

.ar-caret-square-down_solid:before {
    content: "\e947";
}

.ar-caret-square-left:before {
    content: "\e948";
}

.ar-caret-square-left_solid:before {
    content: "\e949";
}

.ar-caret-square-right:before {
    content: "\e94a";
}

.ar-caret-square-right_solid:before {
    content: "\e94b";
}

.ar-caret-square-up:before {
    content: "\e94c";
}

.ar-caret-square-up_solid:before {
    content: "\e94d";
}

.ar-caret-up_solid:before {
    content: "\e94e";
}

.ar-cc-amazon-pay:before {
    content: "\e94f";
}

.ar-cc-amex:before {
    content: "\e950";
}

.ar-cc-apple-pay:before {
    content: "\e951";
}

.ar-cc-diners-club:before {
    content: "\e952";
}

.ar-cc-discover:before {
    content: "\e953";
}

.ar-cc-jcb:before {
    content: "\e954";
}

.ar-cc-mastercard:before {
    content: "\e955";
}

.ar-cc-paypal:before {
    content: "\e956";
}

.ar-cc-stripe:before {
    content: "\e957";
}

.ar-cc-visa:before {
    content: "\e958";
}

.ar-chart-area_solid:before {
    content: "\e959";
}

.ar-chart-bar:before {
    content: "\e95a";
}

.ar-chart-bar_solid:before {
    content: "\e95b";
}

.ar-chart-line_solid:before {
    content: "\e95c";
}

.ar-chart-pie_solid:before {
    content: "\e95d";
}

.ar-check_solid:before {
    content: "\e95e";
}

.ar-check-circle:before {
    content: "\e95f";
}

.ar-check-square:before {
    content: "\e960";
}

.ar-check-square_solid:before {
    content: "\e961";
}

.ar-chevron-circle-down_solid:before {
    content: "\e962";
}

.ar-chevron-circle-left_solid:before {
    content: "\e963";
}

.ar-chevron-circle-right_solid:before {
    content: "\e964";
}

.ar-chevron-circle-up_solid:before {
    content: "\e965";
}

.ar-chevron-down_solid:before {
    content: "\e966";
}

.ar-chevron-left_solid:before {
    content: "\e967";
}

.ar-chevron-right_solid:before {
    content: "\e968";
}

.ar-chevron-up_solid:before {
    content: "\e969";
}

.ar-chrome:before {
    content: "\e96a";
}

.ar-clipboard:before {
    content: "\e96b";
}

.ar-clipboard_solid:before {
    content: "\e96c";
}

.ar-clock:before {
    content: "\e96d";
}

.ar-clock_solid:before {
    content: "\e96e";
}

.ar-clone:before {
    content: "\e96f";
}

.ar-clone_solid:before {
    content: "\e970";
}

.ar-cloud_solid:before {
    content: "\e971";
}

.ar-cloud-download-alt_solid:before {
    content: "\e972";
}

.ar-cloud-upload-alt_solid:before {
    content: "\e973";
}

.ar-cog_solid:before {
    content: "\e974";
}

.ar-cogs_solid:before {
    content: "\e975";
}

.ar-columns_solid:before {
    content: "\e976";
}

.ar-comment:before {
    content: "\e977";
}

.ar-comments:before {
    content: "\e978";
}

.ar-compass:before {
    content: "\e979";
}

.ar-copy:before {
    content: "\e97a";
}

.ar-copy_solid:before {
    content: "\e97b";
}

.ar-copyright:before {
    content: "\e97c";
}

.ar-credit-card:before {
    content: "\e97d";
}

.ar-credit-card_solid:before {
    content: "\e97e";
}

.ar-css3:before {
    content: "\e97f";
}

.ar-database_solid:before {
    content: "\e980";
}

.ar-dollar-sign_solid:before {
    content: "\e981";
}

.ar-edge:before {
    content: "\e982";
}

.ar-edit:before {
    content: "\e983";
}

.ar-ellipsis-h_solid:before {
    content: "\e984";
}

.ar-ellipsis-v_solid:before {
    content: "\e985";
}

.ar-envelope:before {
    content: "\e986";
}

.ar-envelope_solid:before {
    content: "\e987";
}

.ar-envelope-open:before {
    content: "\e988";
}

.ar-envelope-open_solid:before {
    content: "\e989";
}

.ar-exchange-alt_solid:before {
    content: "\e98a";
}

.ar-exclamation_solid:before {
    content: "\e98b";
}

.ar-exclamation-circle_solid:before {
    content: "\e98c";
}

.ar-exclamation-triangle_solid:before {
    content: "\e98d";
}

.ar-expand_solid:before {
    content: "\e98e";
}

.ar-expand-arrows-alt_solid:before {
    content: "\e98f";
}

.ar-external-link-alt_solid:before {
    content: "\e990";
}

.ar-external-link-square-alt_solid:before {
    content: "\e991";
}

.ar-facebook-f:before {
    content: "\e992";
}

.ar-facebook-square_solid:before {
    content: "\e993";
}

.ar-file:before {
    content: "\e994";
}

.ar-file_solid:before {
    content: "\e995";
}

.ar-file-alt:before {
    content: "\e996";
}

.ar-file-alt_solid:before {
    content: "\e997";
}

.ar-file-archive:before {
    content: "\e998";
}

.ar-file-archive_solid:before {
    content: "\e999";
}

.ar-file-audio:before {
    content: "\e99a";
}

.ar-file-audio_solid:before {
    content: "\e99b";
}

.ar-file-code:before {
    content: "\e99c";
}

.ar-file-code_solid:before {
    content: "\e99d";
}

.ar-file-excel:before {
    content: "\e99e";
}

.ar-file-excel_solid:before {
    content: "\e99f";
}

.ar-file-image:before {
    content: "\e9a0";
}

.ar-file-image_solid:before {
    content: "\e9a1";
}

.ar-file-pdf:before {
    content: "\e9a2";
}

.ar-file-pdf_solid:before {
    content: "\e9a3";
}

.ar-file-powerpoint:before {
    content: "\e9a4";
}

.ar-file-powerpoint_solid:before {
    content: "\e9a5";
}

.ar-file-video:before {
    content: "\e9a6";
}

.ar-file-video_solid:before {
    content: "\e9a7";
}

.ar-file-word:before {
    content: "\e9a8";
}

.ar-file-word_solid:before {
    content: "\e9a9";
}

.ar-film_solid:before {
    content: "\e9aa";
}

.ar-filter_solid:before {
    content: "\e9ab";
}

.ar-firefox:before {
    content: "\e9ac";
}

.ar-flag:before {
    content: "\e9ad";
}

.ar-flag_solid:before {
    content: "\e9ae";
}

.ar-flickr:before {
    content: "\e9af";
}

.ar-git:before {
    content: "\e9b0";
}

.ar-github:before {
    content: "\e9b1";
}

.ar-google-drive:before {
    content: "\e9b2";
}

.ar-google-play:before {
    content: "\e9b3";
}

.ar-google-plus-g:before {
    content: "\e9b4";
}

.ar-graduation-cap_solid:before {
    content: "\e9b5";
}

.ar-hdd:before {
    content: "\e9b6";
}

.ar-headphones_solid:before {
    content: "\e9b7";
}

.ar-heart:before {
    content: "\e9b8";
}

.ar-heart_solid:before {
    content: "\e9b9";
}

.ar-home_solid:before {
    content: "\e9ba";
}

.ar-hourglass:before {
    content: "\e9bb";
}

.ar-html5:before {
    content: "\e9bc";
}

.ar-id-card:before {
    content: "\e9bd";
}

.ar-id-card_solid:before {
    content: "\e9be";
}

.ar-image:before {
    content: "\e9bf";
}

.ar-image_solid:before {
    content: "\e9c0";
}

.ar-images:before {
    content: "\e9c1";
}

.ar-images_solid:before {
    content: "\e9c2";
}

.ar-info_solid:before {
    content: "\e9c3";
}

.ar-instagram:before {
    content: "\e9c4";
}

.ar-internet-explorer:before {
    content: "\e9c5";
}

.ar-js:before {
    content: "\e9c6";
}

.ar-js-square:before {
    content: "\e9c7";
}

.ar-keyboard:before {
    content: "\e9c8";
}

.ar-keyboard_solid:before {
    content: "\e9c9";
}

.ar-life-ring:before {
    content: "\e9ca";
}

.ar-life-ring_solid:before {
    content: "\e9cb";
}

.ar-lightbulb:before {
    content: "\e9cc";
}

.ar-lightbulb_solid:before {
    content: "\e9cd";
}

.ar-link_solid:before {
    content: "\e9ce";
}

.ar-linkedin:before {
    content: "\e9cf";
}

.ar-linkedin-in:before {
    content: "\e9d0";
}

.ar-list-alt:before {
    content: "\e9d1";
}

.ar-list-alt_solid:before {
    content: "\e9d2";
}

.ar-location-arrow_solid:before {
    content: "\e9d3";
}

.ar-lock_solid:before {
    content: "\e9d4";
}

.ar-lock-open_solid:before {
    content: "\e9d5";
}

.ar-long-arrow-alt-down_solid:before {
    content: "\e9d6";
}

.ar-long-arrow-alt-left_solid:before {
    content: "\e9d7";
}

.ar-long-arrow-alt-right_solid:before {
    content: "\e9d8";
}

.ar-long-arrow-alt-up_solid:before {
    content: "\e9d9";
}

.ar-map:before {
    content: "\e9da";
}

.ar-map_solid:before {
    content: "\e9db";
}

.ar-map-marker_solid:before {
    content: "\e9dc";
}

.ar-map-marker-alt_solid:before {
    content: "\e9dd";
}

.ar-microphone_solid:before {
    content: "\e9de";
}

.ar-microphone-slash_solid:before {
    content: "\e9df";
}

.ar-microsoft:before {
    content: "\e9e0";
}

.ar-minus_solid:before {
    content: "\e9e1";
}

.ar-minus-circle_solid:before {
    content: "\e9e2";
}

.ar-minus-square:before {
    content: "\e9e3";
}

.ar-minus-square_solid:before {
    content: "\e9e4";
}

.ar-mobile_solid:before {
    content: "\e9e5";
}

.ar-mobile-alt_solid:before {
    content: "\e9e6";
}

.ar-mouse-pointer_solid:before {
    content: "\e9e7";
}

.ar-newspaper:before {
    content: "\e9e8";
}

.ar-newspaper_solid:before {
    content: "\e9e9";
}

.ar-paperclip_solid:before {
    content: "\e9ea";
}

.ar-paper-plane:before {
    content: "\e9eb";
}

.ar-paper-plane_solid:before {
    content: "\e9ec";
}

.ar-paste_solid:before {
    content: "\e9ed";
}

.ar-paypal:before {
    content: "\e9ee";
}

.ar-pencil-alt_solid:before {
    content: "\e9ef";
}

.ar-percent_solid:before {
    content: "\e9f0";
}

.ar-phone_solid:before {
    content: "\e9f1";
}

.ar-plane_solid:before {
    content: "\e9f2";
}

.ar-play_solid:before {
    content: "\e9f3";
}

.ar-plug_solid:before {
    content: "\e9f4";
}

.ar-plus_solid:before {
    content: "\e9f5";
}

.ar-plus-circle_solid:before {
    content: "\e9f6";
}

.ar-plus-square:before {
    content: "\e9f7";
}

.ar-plus-square_solid:before {
    content: "\e9f8";
}

.ar-power-off_solid:before {
    content: "\e9f9";
}

.ar-puzzle-piece_solid:before {
    content: "\e9fa";
}

.ar-question_solid:before {
    content: "\e9fb";
}

.ar-quote-left_solid:before {
    content: "\e9fc";
}

.ar-quote-right_solid:before {
    content: "\e9fd";
}

.ar-rocket_solid:before {
    content: "\e9fe";
}

.ar-rss_solid:before {
    content: "\e9ff";
}

.ar-rss-square_solid:before {
    content: "\ea00";
}

.ar-safari:before {
    content: "\ea01";
}

.ar-sass:before {
    content: "\ea02";
}

.ar-save:before {
    content: "\ea03";
}

.ar-save_solid:before {
    content: "\ea04";
}

.ar-search_solid:before {
    content: "\ea05";
}

.ar-search-minus_solid:before {
    content: "\ea06";
}

.ar-search-plus_solid:before {
    content: "\ea07";
}

.ar-server_solid:before {
    content: "\ea08";
}

.ar-share_solid:before {
    content: "\ea09";
}

.ar-share-alt_solid:before {
    content: "\ea0a";
}

.ar-share-alt-square_solid:before {
    content: "\ea0b";
}

.ar-share-square:before {
    content: "\ea0c";
}

.ar-share-square_solid:before {
    content: "\ea0d";
}

.ar-shield-alt_solid:before {
    content: "\ea0e";
}

.ar-shopping-bag_solid:before {
    content: "\ea0f";
}

.ar-shopping-basket_solid:before {
    content: "\ea10";
}

.ar-sitemap_solid:before {
    content: "\ea11";
}

.ar-sort_solid:before {
    content: "\ea12";
}

.ar-spinner_solid:before {
    content: "\ea13";
}

.ar-star:before {
    content: "\ea14";
}

.ar-star_solid:before {
    content: "\ea15";
}

.ar-suitcase_solid:before {
    content: "\ea16";
}

.ar-sync_solid:before {
    content: "\ea17";
}

.ar-sync-alt_solid:before {
    content: "\ea18";
}

.ar-table_solid:before {
    content: "\ea19";
}

.ar-tablet_solid:before {
    content: "\ea1a";
}

.ar-tablet-alt_solid:before {
    content: "\ea1b";
}

.ar-tachometer-alt_solid:before {
    content: "\ea1c";
}

.ar-tag_solid:before {
    content: "\ea1d";
}

.ar-tags_solid:before {
    content: "\ea1e";
}

.ar-telegram-plane:before {
    content: "\ea1f";
}

.ar-terminal_solid:before {
    content: "\ea20";
}

.ar-th-list_solid:before {
    content: "\ea21";
}

.ar-thumbs-up:before {
    content: "\ea22";
}

.ar-thumbs-up_solid:before {
    content: "\ea23";
}

.ar-times_solid:before {
    content: "\ea24";
}

.ar-times-circle:before {
    content: "\ea25";
}

.ar-times-circle_solid:before {
    content: "\ea26";
}

.ar-toggle-off_solid:before {
    content: "\ea27";
}

.ar-toggle-on_solid:before {
    content: "\ea28";
}

.ar-trash_solid:before {
    content: "\ea29";
}

.ar-trash-alt:before {
    content: "\ea2a";
}

.ar-trash-alt_solid:before {
    content: "\ea2b";
}

.ar-twitter:before {
    content: "\ea2c";
}

.ar-university_solid:before {
    content: "\ea2d";
}

.ar-unlink_solid:before {
    content: "\ea2e";
}

.ar-unlock_solid:before {
    content: "\ea2f";
}

.ar-unlock-alt_solid:before {
    content: "\ea30";
}

.ar-upload_solid:before {
    content: "\ea31";
}

.ar-user:before {
    content: "\ea32";
}

.ar-user_solid:before {
    content: "\ea33";
}

.ar-user-circle:before {
    content: "\ea34";
}

.ar-user-circle_solid:before {
    content: "\ea35";
}

.ar-user-plus_solid:before {
    content: "\ea36";
}

.ar-users_solid:before {
    content: "\ea37";
}

.ar-user-times_solid:before {
    content: "\ea38";
}

.ar-video_solid:before {
    content: "\ea39";
}

.ar-whatsapp:before {
    content: "\ea3a";
}

.ar-wifi_solid:before {
    content: "\ea3b";
}

.ar-wikipedia-w:before {
    content: "\ea3c";
}

.ar-windows:before {
    content: "\ea3d";
}

.ar-wordpress-simple:before {
    content: "\ea3e";
}

.ar-wrench_solid:before {
    content: "\ea3f";
}

.ar-youtube:before {
    content: "\ea40";
}