body {
    .header {
        @extend .d-flex;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .align-items-center;
        position: fixed;
        left: 0;
        right: 0;
        transition: all 0.3s;
        height: 7rem;
        z-index: 20;
        background-color: $primary;
        .navbar-header {
            width: 22.5rem;
            height: 7rem;
            background-color: $white;
            transition: all 0.3s;
            #brand {
                margin: 1.5rem auto;
            }
        }
        .sidebartoggler {
            margin-left: 1.3rem;
            color: $white;
            opacity: 0.75;
            &:hover {
                color: $white;
                opacity: 1;
            }
        }
        ul {
            li {
                position: relative;
                a {
                    &.nav-link {
                        color: $white;
                    }
                    &.dropdown-toggle {
                        picture {
                            display: inline-block;
                            width: 22px;
                            line-height: 22px;
                            border-radius: 4px;
                            margin-right: 10px;
                            vertical-align: middle;
                            img {
                                @extend .img-fluid;
                                border-radius: 4px;
                            }
                        }
                        span {
                            display: none;
                            @include media-breakpoint-up(md) {
                                display: inline-block;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                    @include font-size(12);
                    .dropdown-item {
                        &.active {
                            color: $black-200;
                            background-color: $yellow-300;
                        }
                    }
                }
            }
        }
    }
    #sidebar {
        position: fixed;
        top: 7rem;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 10;
        width: 22.6rem;
        transition: all 0.3s;
        min-height: 100vh;
        background-color: $white;
        .user-profile {
            position: relative;
            background-size: cover;
            .profile-img {
                width: 4.8rem;
                margin: 0 auto;
                padding: 10px 0 5px 0;
                border-radius: 100%;
                img {
                    width: 100%;
                    padding: 5px;
                    border: 1px solid rgba(120, 130, 140, 0.13);
                    border-radius: 100%;
                }
            }
            .profile-menu {
                display: none;
                position: relative;
                text-align: center;
                h5 {
                    @include font-size(18);
                    margin-bottom: 0;
                }
                nav {
                    margin-top: 1.5rem;
                    padding: .5rem 2.5rem;
                    background-color: rgba($black-200, .35);
                    a {
                        color: $white;
                        opacity: 0.75;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
            border-bottom: 1px solid rgba($white, .35);
            margin-bottom: 2rem;
            &::after {
                content: "";
                background: url(../images/profile__bg--2.jpg);
                opacity: 0.35;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
        }
        ul.nav {
            li {
                a {
                    text-align: left;
                    i {
                        color: $primary;
                    }
                    span {
                        @include font-family('ubuntu', 'medium');
                        color: $black-200;
                        margin-left: .5rem;
                        display: none;
                    }
                    &.active {
                        background-color: $gray-100;
                        span {
                            color: $primary;
                        }
                    }
                }
                ul.collapse,
                ul.collapsing {
                    background-color: $gray-100;
                    li {
                        a {
                            text-align: left;
                            @include font-size(12);
                            color: $black-200;
                            &.active {
                                color: $primary;
                            }
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
    &.sidebar-expand {
        .header {
            .navbar-header {
                @include media-breakpoint-only(xs) {
                    width: 6rem;
                    #brand {
                        @include img-replace(40, 40);
                        background-image: url(../images/agronet__logo--color--xs.png);
                    }
                }
                @include media-breakpoint-up(sm) {
                    width: 22.5rem;
                    #brand {
                        @include img-replace(135, 40);
                        background-image: url(../images/agronet__logo--color--sm--horizontal.png);
                    }
                }
            }
        }
        #content {
            @include media-breakpoint-only(xs) {
                margin-left: 6rem;
                width: calc(100% - 6rem);
            }
            @include media-breakpoint-up(sm) {
                margin-left: 22.5rem;
                width: calc(100% - 22.5rem);
            }
        }
        #sidebar {
            @include media-breakpoint-only(xs) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: 0;
                overflow: visible;
                ul.nav {
                    li {
                        position: relative;
                        a {
                            text-align: center;
                            &[aria-expanded="true"] {
                                background-color: $gray-100;
                            }
                            span {
                                display: none !important;
                            }
                        }
                        .show,
                        .collapsing {
                            position: absolute;
                            top: 0;
                            left: 6rem;
                            background-color: $gray-100;
                        }
                    }
                }
            }
            @include media-breakpoint-up(sm) {
                min-width: 22.6rem;
                max-width: 22.6rem;
                margin-left: 0;
                .user-profile {
                    .profile-img {
                        width: 7.2rem;
                    }
                    .profile-menu {
                        display: block;
                    }
                }
                ul.nav {
                    li {
                        >a {
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }
                        a {
                            &[data-toggle="collapse"] {
                                position: relative;
                            }
                            &[aria-expanded="false"],
                            &[aria-expanded="true"] {
                                &::before {
                                    font-family: 'Font Awesome 5 Free';
                                    position: absolute;
                                    font-weight: 900;
                                    @include font-size(14);
                                    content: '\f0d7';
                                    display: block;
                                    right: 2rem;
                                    line-height: inherit !important;
                                    transition: transform .3s ease;
                                    color: $black-100;
                                }
                            }
                            &[aria-expanded="true"] {
                                background-color: $gray-100;
                                &::before {
                                    transform: rotate(180deg);
                                }
                            }
                            span {
                                display: inline-block;
                            }
                        }
                        .show,
                        .collapsing {
                            li {
                                a {
                                    text-indent: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.sidebar-collapse {
        .header {
            background-color: $primary;
            height: 7rem;
            .navbar-header {
                @include media-breakpoint-up(xs) {
                    width: 6rem;
                    #brand {
                        @include img-replace(40, 40);
                        background-image: url(../images/agronet__logo--color--xs.png);
                    }
                }
            }
        }
        #content {
            @include media-breakpoint-only(xs) {
                margin-left: 0;
                width: 100%;
            }
            @include media-breakpoint-up(sm) {
                margin-left: 6rem;
                width: calc(100% - 6rem);
            }
        }
        #sidebar {
            @include media-breakpoint-only(xs) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: -6rem;
            }
            @include media-breakpoint-up(xs) {
                ul.nav {
                    li {
                        a {
                            text-align: center;
                        }
                    }
                }
            }
            @include media-breakpoint-up(sm) {
                min-width: 6rem;
                max-width: 6rem;
                margin-left: 0;
                overflow: visible;
                ul.nav {
                    li {
                        position: relative;
                        a {
                            &[aria-expanded="true"] {
                                background-color: $gray-100;
                            }
                        }
                        .show,
                        .collapsing {
                            position: absolute;
                            top: 0;
                            left: 6rem;
                            background-color: $gray-100;
                        }
                    }
                }
            }
        }
    }
}